@import url('https://fonts.googleapis.com/css2? family= Merriweather:wght@300 & family= Ramaraja & family= Roboto:wght@400;700 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Merriweather:wght@300 & família= Pacífico &family= Ramaraja & family= Roboto:wght@400;700 & display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    font-family: "Pacífico";
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-family: "Roboto";
    font-size: 25px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1280px;
    min-width: 425px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background: rgb(255, 230, 1);
    z-index: 1;
    border-radius: 2vh;
}
#logoDoug img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
}

body {
    margin: auto;
    max-width: 1280px;
    min-width: 425px;
}

main {
    margin-top: 90px;

}

#divimg {
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 2vh auto 2vh auto;

}

#imgdoug {
    align-items: center;
    width: 30vw;
    height: 70vh;
}



.personagens {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.caixaPersonagem {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: yellow;
    border-radius: 5vh;
    width: 30vw;
    height: 60vh;
    padding-left: auto;
    padding-right: auto;
}

.caixaPersonagem img {
    margin-top: 5%;
    height: 30vh;
    width: 15vw;
}

.personagens p {
    margin-top: 2vh;
    text-align: justify;
    padding: 5%;
    font-size: clamp(0.1em, 0.30em + 0.9vw, 0.9em);
}

.personagens h2 {
    margin-top: 1vh;
    text-align: center;
}
#idfooter{
    box-sizing: border-box;
    justify-content:space-around;
    display: flex;
     padding: 1rem;
    
    border-radius: 2vh;
    gap: 0.5rem;
    background-color: yellow;
    height: 70px;
    max-width: 1280px;
    min-width: 425px;
}

#idfooter a img{
    border-radius: 50%;
    border-color: yellow;
    height: 50px;
    width: 50px;
}
div.videoyoutube{
    margin: 0px 0px 0px 0px;
    padding-bottom: 59%;
    position: relative;
}
div.videoyoutube > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
@midia (max-width: 600px) {
    .personagens {
    
        
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }
    #imgdoug {
        align-items: center;
        width: 30px;
        height: 30vh;
    }
    
}